.jumbotron{
 
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-image: url(https://media.giphy.com/media/kychvkiZ9C85JrEAlG/giphy.gif);
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 150px;
    color: #dde20c;
    padding-top: 10px;
    margin-bottom: 10px;
    
    box-sizing: border-box;
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
}

.table {

    margin-top: 20px;
    margin-left: 246px;
    width: 62%;
    text-align: left;
    margin-bottom: 12px;
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
}
 
.addtrain { 
    text-align: center;
    background-color: rgb(184, 54, 54);
    color: white;  
    margin-top: 20px;
    width: 99%;
    box-sizing: border-box;
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
}


.title {

    text-align: center;
    background-color: rgb(0, 26, 255);
    color: white;  
    margin-top: 20px;
    margin-left: 246px;
    width: 62%;
    box-sizing: border-box;
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
}
.label{
   
    font-size: 20px;
    
}


input {
    width: 100%;
    padding: 4px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-color: #141f3d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #141f3d;
  }

  .form{
    margin-left: 246px;
    width: 62%;
    padding: 7px;
  
  }

  .tableData {

    text-align: center;
    /* padding-right: 40px; */

    border-style: solid;
    width: 125px;
    border-bottom-style: groove;
    border-bottom-color: coral;
    border-bottom-width: 3px;
  }

  #add-train {
    display: inline-block;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 26, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  #add-train:hover {background-color: #3e8e41}
  
  #add-train:active {
    background-color: rgb(184, 54, 54);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }